.items {
  width: 500px;
  height: 200px;
  overflow-x: scroll;
  white-space: nowrap;
  border: 1px solid #ccc;
}
.items > .cube {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #3498db;
  margin-right: 10px;
}
